{% extends 'base.html.twig' %}

{% block title %}Hello PixelArtController!{% endblock %}

{% block body %}
    <div class="container">

        <div class="pixel-art" data-controller="pixelart" data-grid-width="21">

        </div>

    </div>
{% endblock %}
