.pixel-grid {
    display: grid;
    grid-template-columns: repeat(21, 20px);
    grid-template-rows: repeat(21, 20px);
    gap: 1px;
}

.pixel {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.white  { background-color: white; }
.black  { background-color: black; }
.red    { background-color: red; }
.green  { background-color: green; }
.blue   { background-color: blue; }
.yellow { background-color: yellow; }
.pink   { background-color: pink; }
.brown  { background-color: brown; }
.cyan   { background-color: cyan; }
.teal   { background-color: teal; }
.orange { background-color: orange; }
